* {
  color: #ffffff;
}

.big-card-container {
  width: 45vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.big-card-container > div > img {
  max-width: 500px;
}

.big-card-news {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.big-card-news > span {
  font-size: 1.2rem;
}

.big-card-news > p {
  color: #6e6e6e;
  font-size: 0.8rem;
}
