<div ngClass="black-container">
  <app-menu-bar></app-menu-bar>

  <app-menu-title></app-menu-title>
  <div ngClass="card-container">
    <div ngClass="big-card-style">
      <app-big-card
        cardImage="./assets/celeste-game.jpg"
        cardTitle="Titulo da noticia"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam hic ullam perspiciatis iure reiciendis "
      ></app-big-card>
    </div>
    <div ngClass="small-card-style">
      <app-small-card
        cardImage="https://th.bing.com/th/id/OIP.eGQuPs5deEGRXEfxfWE6tQHaEK?w=317&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
        cardTitle="The Last of Us premiado"
        cardDescription="The Last of Us part II foi novamente premiado por especialistas"
      ></app-small-card>
      <app-small-card
        cardImage="https://th.bing.com/th/id/OIP.dz72DuoAyz-aC6ajD5QCzgHaEK?pid=ImgDet&rs=1"
        cardTitle="The Witcher 3 ganha data de lançamento"
        cardDescription="Remasterização promete melhor desempenho e melhores gráficos do já consagrado RPG da CD Red Project"
      ></app-small-card>
      <app-small-card
        cardImage="https://th.bing.com/th/id/OIP.EjP2MedjTR-7Pduf_lJseQHaEK?pid=ImgDet&rs=1"
        cardTitle="South Park vai ganhar um novo game"
        cardDescription="Novo game estará disponível ainda este ano para todas as plataformas"
      ></app-small-card>
    </div>
  </div>
</div>
<div ngClass="white-container">
  <app-news-title></app-news-title>
  <div ngClass="bottom-news-container">
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
  </div>
</div>

<router-outlet></router-outlet>
