.black-container {
  background-color: #121212;
  color: #ffffff;
}

hr {
  color: #111111;
}
.card-container {
  display: flex;
  gap: 25px;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.big-card-style {
  max-height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-card-style {
  max-height: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-news-container {
  display: flex;
  justify-content: space-around;
}
