<div ngClass="black-container">
  <app-menu-bar></app-menu-bar>
  <hr />
  <app-menu-title></app-menu-title>
  <div ngClass="card-container">
    <div ngClass="big-card-style">
      <app-big-card></app-big-card>
    </div>
    <div ngClass="small-card-style">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
  </div>
</div>
<div ngClass="white-container">
  <app-news-title></app-news-title>
  <div ngClass="bottom-news-container">
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
  </div>
</div>

<router-outlet></router-outlet>
