.small-card-container {
  display: grid;
  width: 45vw;
  max-width: 500px;
  grid-template-columns: 0.65fr 1fr;
}

.small-card-container > div > img {
  height: 100px;
}

.p-news-small-card {
  font-size: 0.8rem;
}

.small-card-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.small-card-news > span {
  font-size: 0.7rem;
  color: #6e6e6e;
}
