<div ngClass="menu-bar-container">
  <div ngClass="menu-links-container">
    <img src="./assets/profile-picture.jpeg" alt="profile_image" />
    <ul ngClass="menu-links">
      <a href="#"><li>Learn</li></a>
      <a href="#"><li>Blog</li></a>
      <a href="#"><li>Bookmarks</li></a>
      <a href="#"><li>UI Kit</li></a>
      <a href="#"><li>Learn Nya</li></a>
    </ul>
  </div>
  <div ngClass="menu-icons-container">
    <ul>
      <li>icon1</li>
      <li>icon2</li>
      <li>icon3</li>
      <li>icon4</li>
    </ul>
  </div>
</div>
