.menu-bar-container {
  font-size: 0.7rem;
  padding: 30px 50px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
}

.menu-links-container {
  display: flex;
  gap: 3rem;
}

.menu-links-container > img {
  height: 30px;
}
.menu-links-container > ul {
  gap: 2rem;
}

.menu-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu-links > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #6e6e6e;
}

.menu-icons-container {
  display: flex;
  justify-content: flex-end;
  color: #6e6e6e;
}

.menu-icons-container > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
